ProjeqzCurrencyConverter/Web References/ProjeqzWebService/ProjeqzCurrencyConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="Convert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toCurrency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertSoapIn">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="ConvertSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:portType name="ProjeqzCurrencyConverterServiceSoap">
    <wsdl:operation name="Convert">
      <wsdl:input message="tns:ConvertSoapIn" />
      <wsdl:output message="tns:ConvertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProjeqzCurrencyConverterServiceSoap" type="tns:ProjeqzCurrencyConverterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://microsoft.com/webservices/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProjeqzCurrencyConverterServiceSoap12" type="tns:ProjeqzCurrencyConverterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap12:operation soapAction="http://microsoft.com/webservices/Convert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjeqzCurrencyConverterService">
    <wsdl:port name="ProjeqzCurrencyConverterServiceSoap" binding="tns:ProjeqzCurrencyConverterServiceSoap">
      <soap:address location="http://sp2010demo/_layouts/SPProjeqzCurrencyConverter/ProjeqzCurrencyConverter.asmx" />
    </wsdl:port>
    <wsdl:port name="ProjeqzCurrencyConverterServiceSoap12" binding="tns:ProjeqzCurrencyConverterServiceSoap12">
      <soap12:address location="http://sp2010demo/_layouts/SPProjeqzCurrencyConverter/ProjeqzCurrencyConverter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>